
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-color: #F4F8FC;

    font-family: "Poppins", sans-serif;

    color:#333;

}
 /* Foto */
.foto img{
    width:250px;
    height:250px;
    border-radius:50%;
    object-fit:cover;
    border:4px solid white;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}
header{
    display: flex;
    align-items: center;
    gap: 30px;
    background:#7c3aed;
    color: #D3D3D3;
    padding:30px;
}
header h2{
    color:white;
}
 
h1{
    font-size: 50px;
    margin-bottom: 8px;
    color:white;
}
h2{
    color: #B794F4;
    font-size: 2rem;
    font-size:40px;
    margin-bottom: 15px;
    font-weight: bold;
}
.Conteudo-principal{

    display:flex;
    justify-content:space-between;
    align-items: flex-start;
}
#Sobre p{
    width: 60%;
    margin-top: 0;
    margin-left: 20px;
    line-height: 1.6;
}

#Habilidades{
     width: 30%;
}
#Contatos p,
#Projetos p{
    margin-left: 20px;
    line-height: 1.6;
}
footer{
    text-align: center;
    margin-top: 150px;
}

footer p{
    margin: 5px 0;
    border-top:1px solid #D8DDE6;
}
p,
li{
    color:#4B5563;
    font-size: 20px;
}
section{

    background:white;
    padding:35px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    margin-bottom:40px;
}
section:hover{

    transform: translateY(-5px);
    transition:0.3s;
}
a{
    color:#7C3AED;
    text-decoration:none;
   
}
a:hover{

    color:#A78BFA;

}
/* A ÚLTIMA PARTE DO CSS */
@media (max-width: 768px){

    header{
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding: 30px 20px;
    }

    .foto img{
        width: 180px;
        height: 180px;
    }

    h1{
        font-size: 38px;
    }

    header h2{
        font-size: 28px;
    }

    .Conteudo-principal{
        flex-direction: column;
    }

    #Sobre,
    #Habilidades{
        width: 100%;
    }

    #Sobre p{
        width: 100%;
        margin-left: 0;
    }

    #Habilidades{
        margin-top: 30px;
    }

    section{
        padding: 25px;
    }

    p,
    li{
        font-size: 18px;
    }

}
